body {
	background-color: #e9e9e9;
	font-family: "helvetica neue",arial,sans-serif;
}

nav {
	margin: -10px -10px 0 -10px;
	width: 102%;
	height: 45px;
	background-color: white;
	border: 1px solid #bac0c5;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(157, 171, 182, 0.5);
	-moz-box-shadow:    0px 1px 3px 0px rgba(157, 171, 182, 0.5);
	box-shadow:         0px 1px 3px 0px rgba(157, 171, 182, 0.5);
}

nav div {
	width: 32%;
	float: left;
	height: 45px;
	padding-top: 3px;
}

#navigation {
	margin-left: 2%;
	left: 0;
}

	#cat-list {
		width: 38px;
	}

	button {
		width: 193px;
		height: 30px;
		float: left;
		border-radius: 3px;
		background-color: white;
		color: gray;
		text-align: left;
		padding-left: 10px;
	}

#heading-logo {
	text-align: center;
}

#user-profile {
	margin-right: 2%;
}


#homepage {
	text-align: center;
}

.item {
	width: 236px;
	position: relative;
	float: left;
	display: block;
	background-color: white;
	font-size: 13px;
	line-height: 20px;
	margin-top: 14px;
	margin-left: 12px;
	margin-right: 2px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 2px 1px 0px rgba(157, 171, 182, 0.5);
	-moz-box-shadow:    0px 2px 1px 0px rgba(157, 171, 182, 0.5);
	box-shadow:         0px 2px 1px 0px rgba(157, 171, 182, 0.5);
}

.pin-image img {
	width: 236px;
	padding: -1px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.prev-pinner {
	border: 1px solid #bac0c5;
}

